.navbar {
  position: relative;
}

.GlowImageText {
  color: lightgrey;
}

.navbar-image-wrapper {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.neon-logo {
  filter: drop-shadow(1px 1px 10px #ff0202) drop-shadow(1px 1px 20px #ff0000) !important;
}

.navbar-image {
  width: 45px;
}

.navbar:hover .navbar-image {
  content: url("ArcadeGlow.png");
}

.sticky-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.faq-text {
  color: white;
  font-weight: bold;
}

.answer {
  color: white;
}

.neon-red-border {
  border: 2px solid #ff3131 !important;
  box-shadow:
    0 0 10px #ff3131,
    inset 0 0 5px #ff3131;
  transition: box-shadow 0.3s ease-in-out;
}

.neon-green-border {
  border: 2px solid #39ff14 !important;
  box-shadow:
    0 0 10px #39ff14,
    inset 0 0 5px #39ff14;
  transition: box-shadow 0.3s ease-in-out;
}

.neon-blue-border {
  border: 2px solid #0077ff !important;
  box-shadow:
    0 0 10px #0077ff,
    inset 0 0 5px #0077ff;
  transition: box-shadow 0.3s ease-in-out;
}

.nav-item {
  border: #292929 dotted 1px;
  border-radius: 1px;
  padding: 5px 5px;
}

body {
  background: #77151f;
  background: linear-gradient(
    131deg,
    rgb(31, 7, 9) 0%,
    rgb(24, 15, 58) 27%,
    rgb(26, 15, 56) 81%,
    rgb(7, 7, 32) 100%
  );
}

.carousel-inner img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

/* make each slide a positioning context so captions can be placed relative to the image */
.carousel-item {
  position: relative;
}

.gold-text {
  color: gold;
}

.guest-text {
  color: whitesmoke;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.HoursImg {
  text-align: center;
}

.text-overlay,
.header-red {
  text-align: center;
  color: #fff;
  font-family: "Iceland", sans-serif;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000,
    0 0 7px #ff0000,
    0 0 10px #ff0000,
    0 0 21px #ff0000,
    0 0 42px #ff4d4d,
    0 0 82px #e60000,
    0 0 92px #e60000,
    0 0 102px #e60000,
    0 0 151px #e60000;
}

.text-iceland {
  font-family: "Iceland", sans-serif;
}

.header-blue {
  text-align: center;
  color: #fff;
  font-family: "Iceland", sans-serif;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000,
    0 0 7px #0077ff,
    0 0 10px #0077ff,
    0 0 21px #0077ff,
    0 0 42px #4dccff,
    0 0 82px #0077ff,
    0 0 92px #0077ff,
    0 0 102px #0077ff,
    0 0 151px #0077ff;
}
.header-green {
  text-align: center;
  color: #fff;
  font-family: "Iceland", sans-serif;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000,
    0 0 7px #39ff14,
    0 0 10px #39ff14,
    0 0 21px #39ff14,
    0 0 42px #66ff66,
    0 0 82px #2ee62e,
    0 0 92px #2ee62e,
    0 0 102px #2ee62e,
    0 0 151px #2ee62e;
}

.menu-text {
  display: block;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 5px;
}

.arcade-icon {
  background-image: url("Arcade.png");
  /*arcade machine image */
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
  display: inline-block;
  background-position: center;
}

.arcade-icon.highlighted {
  background-image: url("ArcadeGlow.png");
  /* Image with highlighted part */
}

.navbar-nav.show-text {
  opacity: 1 !important;
}

@media (max-width: 768px) {
  .HoursImg img {
    width: 70vw;
  }

  /* Smaller font size for phones */
  .text-overlay h3 {
    font-size: 8vw;
    font-weight: bold;
    /* Adding shadow for better readability */
    position: absolute;
    left: 20%;
    transform: translateX();
    top: 5%;
    display: block;
    max-width: 92%;
  }

  .button-text {
    font-family: "Lucida Console", monospace;
  }
  .carousel-inner img {
    width: 100%;
    height: 63vw;
    object-fit: cover;
  }

  .navbar-image {
    display: none;
  }

  .text-under h3 {
    font-size: 6vw;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    max-width: 92%;
    line-height: 1.05;
  }

  .col-lg-4 {
    flex: 0 0 50%;
    /* Two cards per row on small screens */
    max-width: 50%;
  }

  .card-img-top {
    max-width: 100%;
    /* Ensure images resize properly on small screens */
    height: auto;
  }

  .card-title {
    font-size: 12px;
  }

  .card-text {
    font-size: 10px;
    /* Adjust the font size for mobile screens */
  }

  .mapInfo {
    font-size: 10px;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
    /* Make the text bold */
    color: azure;
    text-align: center;
  }

  .hidden-sm {
    display: none !important;
  }

  .contInfo {
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
    /* Make the text bold */
    color: azure;
    font-family: "Trebuchet MS", sans-serif;
  }

  .answer {
    color: white;
    font-size: 4vw;
  }

  .faq-text {
    color: white;
    font-weight: bold;
    font-size: 5vw;
  }
}

@media (min-width: 769px) {
  .faq-text {
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
  }

  .answer {
    color: white;
    font-size: 1.75vw;
  }

  .navbar .navbar-nav {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .navbar:hover .navbar-nav {
    opacity: 1;
  }

  .navbar .navbar-nav.show {
    opacity: 1;
  }

  /* Larger size for computers */
  .text-overlay h3 {
    font-size: 3.8vw;
    font-weight: bold;
    /* Adding shadow for better readability */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .HoursImg img {
    height: 40vw;
  }

  .text-under h3 {
    font-size: 2.2vw;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    max-width: 80%;
    line-height: 1.05;
  }

  .hidden-md {
    display: none;
  }

  .mapInfo {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: azure;
    font-family: "Trebuchet MS", sans-serif;
  }

  .contInfo {
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
    color: azure;
    font-family: "Trebuchet MS", sans-serif;
  }

  .img-sm {
    max-width: 50%;
    height: auto;
  }
}

.map {
  text-align: center;
  max-width: 100%;
  margin: 3vw auto;
}

.map iframe {
  width: 100%;
  max-width: 700px;
  /* Limits the maximum width of the iframe for mobile */
}
