.navbar {
  position: relative;
}

.GlowImageText {
  color: lightgrey;
}

.navbar-image-wrapper {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.navbar-image {
  width: 45px;
}

.header-red {
  text-align: center;
  color: #fff;
  font-family: "Iceland", sans-serif;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000,
    0 0 7px #ff0000,
    0 0 10px #ff0000,
    0 0 21px #ff0000,
    0 0 42px #ff4d4d,
    0 0 82px #e60000,
    0 0 92px #e60000,
    0 0 102px #e60000,
    0 0 151px #e60000;
}

.sticky-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.faq-text {
  color: white;
  font-weight: bold;
}

.answer {
  color: white;
}

body {
  background: #77151f;
  background: linear-gradient(
    131deg,
    rgb(31, 7, 9) 0%,
    rgb(24, 15, 58) 27%,
    rgb(26, 15, 56) 81%,
    rgb(7, 7, 32) 100%
  );
}

.carousel-inner img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
  /* Ensure the image covers the entire area */
}

/* Positioning the text container */
.text-under {
  text-align: center;
  color: #fff;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  display: inline-block;
}

.gold-text {
  color: gold;
}

.guest-text {
  color: whitesmoke;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.HoursImg {
  text-align: center;
}

.menu-text {
  display: block;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .HoursImg img {
    width: 70vw;
  }

  /* Smaller font size for phones */
  .text-overlay h3 {
    font-size: 4.3vw;
    font-weight: bold;
    /* Adding shadow for better readability */
    position: absolute;
    top: 10%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  .navbar-image {
    display: none;
  }

  .text-under h3 {
    font-size: 12px;
    font-weight: bold;
    /* Adding shadow for better readability */
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  /* Smaller font size for phones */
  .headers {
    font-size: 18px;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
    /* Make the text bold */
    color: azure;
    /* Text color */
  }

  .col-lg-4 {
    flex: 0 0 50%;
    /* Two cards per row on small screens */
    max-width: 50%;
  }

  .card-img-top {
    max-width: 100%;
    /* Ensure images resize properly on small screens */
    height: auto;
  }

  .card-title {
    font-size: 12px;
  }

  .card-text {
    font-size: 10px;
    /* Adjust the font size for mobile screens */
  }

  .mapInfo {
    font-size: 10px;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
    /* Make the text bold */
    color: azure;
    text-align: center;
  }

  .hidden-sm {
    display: none !important;
  }

  .contInfo {
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
    /* Make the text bold */
    color: azure;
    font-family: "Trebuchet MS", sans-serif;
  }

  .answer {
    color: white;
    font-size: 4vw;
  }

  .faq-text {
    color: white;
    font-weight: bold;
    font-size: 5vw;
  }
}

@media (min-width: 769px) {
  .faq-text {
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
  }

  .answer {
    color: white;
    font-size: 1.75vw;
  }

  /* Larger size for computers */
  .text-overlay h3 {
    font-size: 3.8vw;
    font-weight: bold;
    /* Adding shadow for better readability */
    position: absolute;
    top: 10%;
    left: 28%;
    transform: translate(-50%, -50%);
  }

  .HoursImg img {
    height: 40vw;
  }

  .text-under h3 {
    font-size: 24px;
    font-weight: bold;
    /* Adding shadow for better readability */
    position: absolute;
    top: 20%;
    left: 28%;
    transform: translate(-50%, -50%);
  }

  /* Larger font size for computers */
  .headers {
    font-size: 36px;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    /* Make the text bold */
    color: azure;
    /* Text color */
  }

  .hidden-md {
    display: none;
  }

  .mapInfo {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    /* Make the text bold */
    color: azure;
    font-family: "Trebuchet MS", sans-serif;
  }

  .contInfo {
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
    color: azure;
    font-family: "Trebuchet MS", sans-serif;
  }

  .img-sm {
    max-width: 50%;
    height: auto;
  }
}

.map {
  text-align: center;
  max-width: 100%;
  margin: 3vw auto;
}

.map iframe {
  width: 100%;
  max-width: 700px;
  /* Limits the maximum width of the iframe for mobile */
}

h1 {
  font-size: 70px;
  text-align: center;
}

.menu-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}

.menu img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
