.navbar {
  position: relative;
}

.GlowImageText {
  color: lightgrey;
}

.navbar-image-wrapper {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.navbar-image {
  width: 45px;
}

.navbar:hover .navbar-image {
  content: url("ArcadeGlow.png");
}

.sticky-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.faq-text {
  color: white;
  font-weight: bold;
}

.answer {
  color: white;
}

.nav-item:last-child {
  margin-right: 60px;
  /* Adjust this value as needed */
}

body {
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(
    103deg,
    rgba(255, 0, 0, 0.5608368347338936) 0%,
    rgba(127, 0, 131, 0.6420693277310925) 50%,
    rgba(0, 92, 255, 0.5272233893557423) 100%
  );
  background: -webkit-linear-gradient(
    103deg,
    rgba(255, 0, 0, 0.5608368347338936) 0%,
    rgba(127, 0, 131, 0.6420693277310925) 50%,
    rgba(0, 92, 255, 0.5272233893557423) 100%
  );
  background: linear-gradient(
    103deg,
    rgba(255, 0, 0, 0.5608368347338936) 0%,
    rgba(127, 0, 131, 0.6420693277310925) 50%,
    rgba(0, 92, 255, 0.5272233893557423) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000", endColorstr="#005cff", GradientType=1);
}

.carousel-inner img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
  /* Ensure the image covers the entire area */
}

/* Positioning the text container */
.text-under {
  text-align: center;
  color: #fff;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  display: inline-block;
}

.gold-text {
  color: gold;
}

.guest-text {
  color: whitesmoke;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.HoursImg {
  text-align: center;
}

.text-overlay {
  text-align: center;
  color: #fff;
  font-family: "Dancing Script";
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000, 0 0 7px #ff5d96, 0 0 10px #ff7ae9, 0 0 21px #ff57ca,
    0 0 42px rgb(238, 126, 210), 0 0 82px hotpink, 0 0 92px hotpink,
    0 0 102px hotpink, 0 0 151px hotpink;
}

.menu-text {
  display: block;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 5px;
}

.arcade-icon {
  background-image: url("Arcade.png");
  /*arcade machine image */
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
  display: inline-block;
  background-position: center;
}

.arcade-icon.highlighted {
  background-image: url("ArcadeGlow.png");
  /* Image with highlighted part */
}

@media (max-width: 768px) {
  .HoursImg img {
    width: 70vw;
  }

  /* Smaller font size for phones */
  .text-overlay h3 {
    font-size: 4.3vw;
    font-weight: bold;
    /* Adding shadow for better readability */
    position: absolute;
    top: 10%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  .navbar-image {
    display: none;
  }

  .text-under h3 {
    font-size: 12px;
    font-weight: bold;
    /* Adding shadow for better readability */
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  /* Smaller font size for phones */
  .headers {
    font-size: 18px;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
    /* Make the text bold */
    color: azure;
    /* Text color */
  }

  .col-lg-4 {
    flex: 0 0 50%;
    /* Two cards per row on small screens */
    max-width: 50%;
  }

  .card-img-top {
    max-width: 100%;
    /* Ensure images resize properly on small screens */
    height: auto;
  }

  .card-title {
    font-size: 12px;
  }

  .card-text {
    font-size: 10px;
    /* Adjust the font size for mobile screens */
  }

  .mapInfo {
    font-size: 10px;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
    /* Make the text bold */
    color: azure;
    text-align: center;
  }

  .hidden-sm {
    display: none !important;
  }

  .contInfo {
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
    /* Make the text bold */
    color: azure;
    font-family: "Trebuchet MS", sans-serif;
  }

  .answer {
    color: white;
    font-size: 4vw;
  }

  .faq-text {
    color: white;
    font-weight: bold;
    font-size: 5vw;
  }
}

@media (min-width: 769px) {
  .faq-text {
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
  }

  .answer {
    color: white;
    font-size: 1.75vw;
  }

  .navbar .navbar-nav {
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .navbar .navbar-nav.show {
    opacity: 1;
  }

  .navbar:hover .navbar-nav {
    opacity: 1;
  }

  /* Larger size for computers */
  .text-overlay h3 {
    font-size: 3.8vw;
    font-weight: bold;
    /* Adding shadow for better readability */
    position: absolute;
    top: 10%;
    left: 28%;
    transform: translate(-50%, -50%);
  }

  .HoursImg img {
    height: 40vw;
  }

  .text-under h3 {
    font-size: 24px;
    font-weight: bold;
    /* Adding shadow for better readability */
    position: absolute;
    top: 20%;
    left: 28%;
    transform: translate(-50%, -50%);
  }

  /* Larger font size for computers */
  .headers {
    font-size: 36px;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    /* Make the text bold */
    color: azure;
    /* Text color */
  }

  .hidden-md {
    display: none;
  }

  .mapInfo {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    /* Make the text bold */
    color: azure;
    font-family: "Trebuchet MS", sans-serif;
  }

  .contInfo {
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
    color: azure;
    font-family: "Trebuchet MS", sans-serif;
  }

  .img-sm {
    max-width: 50%;
    height: auto;
  }
}

.map {
  text-align: center;
  max-width: 100%;
  margin: 3vw auto;
}

.map iframe {
  width: 100%;
  max-width: 700px;
  /* Limits the maximum width of the iframe for mobile */
}

h1 {
  font-size: 70px;
  text-align: center;
}

.menu-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}

.menu img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
